---
import "../style/style.css";
import MainLayout from "../layouts/MainLayout.astro";
// import Card from "../components/Card.astro";
// import Navigation from "../components/Navigation.astro";
import Button from "../components/Button.astro";
---

<MainLayout title="Hjem">
  <Button variant="primary" size="small">TEXT</Button>
  <Button variant="secondary" size="medium">TEXT</Button>
  <Button variant="secondary" size="large">TEXT</Button>
  <!-- <Card header="Hej Verden">
        <p>Hej Med Dig</p>
        <button>Klik her</button>
      </Card>
      <Card header="Hej Verden">
        <button>Klik her</button>
        <p>Hej Med Jer</p>
      </Card> -->
</MainLayout>
